body{
    background-color: #fff;
}

section{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0;
}

.header{
    color: #000;
    width: 100%;
    background-color: #2962FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sections{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sections a{
    text-decoration: none;

}
